<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
        <% include ../partials/header %>
        <link rel="stylesheet" href="css/mapstyles.css">
	</header>

	<main>
        <div class="container">
            <div class="col-md-6 col-lg-5 col-xl-4"><img id="mapimage" src="images/ssb.jpg"></div>
                <div class="col-md-6">
                    <div id="maprow">
                        <h1 id="mapname">PUber Online Payment System Down<br></h1>
                        <p id="maplocation">Please head over to the the Student Service Building to pay at Cashier's Office. Payments will be processed with 24-48 hours.<br></p>
                        <p id="status"> Sorry for the inconvience.</p>
                    </div>
                </div>
            </div>     
        </div>
        
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>