#mapimage {
}

#mapname {
  display: inline;
}

#mapimage {
}

#mapimage {
}

#mapimage {
  height: 200px;
}

#maprow {
  word-wrap: break-word;
}

#mapformat {
  padding: 20px;
}

.container {
  background-color: #CCC5C4;
}

