<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CPP PUber</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
</head>

<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="static/assets/img/icon2.jpg"></div>
            <div class="form-group">
                <input id="txtEmail" class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input id="txtPassword" class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button id="btnLogIn" class="btn btn-primary btn-block" type="submit" style="background-color: rgb(20,37,129);">Log In</button>
                <button id="btnSignUp"class="btn btn-primary btn-block" type="submit" style="background-color: rgb(20,37,129);">Sign Up</button></div>
        </form>
    </div>
    
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
    
    <script src="static/assets/js/app.js"></script>
</body>

</html>
