<!DOCTYPE html>
<html>
<head>
	<title>PUber Overview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
	<body>
		<div class="content">
		  	<div class="container">
		    <h2>Parking Lot Capacity</h2>
			  <h3>106: Parking Structure	East of Voorhis Alumni Park and West of Police and Parking Services (Bldg. 109).</h3>
			  <div class="progress">
			    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
			      40% Full 
			    </div>
			  </div>
			  <h3>B	East of Parking Lot K.</h3>
			  <div class="progress">
			    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
			      50% Full (You might want to get here early)
			    </div>
			  </div>
			  <h3>E1 NorthEast of Parking Lot E2.</h3>
			  <div class="progress">
			    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
			      60% Full (Warning)
			    </div>
			  </div>
			  <div class="progress">
			    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			      70% Full (Almost Full)
			    </div>
			  </div>
			
				
				<h3>E2	NorthWest of Interim Design Center (Bldg. 89).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>F1	SouthEast of Residence Hall, Aliso (Bldg. 23).</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>F3	North of Parking Lot F4 and South of Recreation/Maintenance (Bldg. 71).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>F5	NorthEast of Parking Structure (Bldg. 106).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>F9	South of Parking Structure (Bldg. 106).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>F10	East of Police and Parking Services (Bldg. 109).</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>H	South of Student Affairs Information Technology Services (Bldg. 91).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>I	North of Agriscapes/Farm Store (Bldg. 211).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>J	West of College of Environmental Design (Bldg. 7) and NorthWest of Health Services (Bldg. 46).	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>M	South of Parking Lot J and South West of College of Environmental Design (Bldg. 7).</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>N	On Bronco Way Across from the Child Care Center (Building 116)	</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>Overflow Parking Lot	SouthEast of American Red Cross</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>Parking Structure 2	SouthEast of iPoly High School (Bldg. 128).</h3>	
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>R	NorthWest of Kellogg House Pomona (Bldg. 112).</h3>
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
				<h3>U	West of University Village (Bldg. 200).</h3>	
				<div class="progress">
				    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				      40% Full 
				    </div>
			  	</div>
			</div>
	</body>
</html>