<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>temp</title>
    <link rel="stylesheet" href="static/temp_files/bootstrap.min.css">
    <link rel="stylesheet" href="static/temp_files/font-awesome.min.css">
    <link rel="stylesheet" href="static/temp_files/styles.css">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="static/temp_files/translateelement.css">
</head>
<body>
<div class="container">
    <section id="subirOm" class="pb-3">
        <!--Header Container. Currently contains the logo. -->
        <div class="row p-0 m-0">
            <div class="col p-0 m-0">
                <div class="row bg-white mx-auto">
                    <div class="col-12">
                        <img src="static/temp_files/icon2.jpg">
                    </div>
                </div>
            </div>
        </div>
        <form id="profile-form">
            <!--Personal Profile Container(Name, Email, Password, Phone Number)
            Each category has an edit button(Look to only have the fields be editable by default and just have a save button?) -->
            <div class="row p-0 m-0">
                <div class="col-lg-4 col-xl-5 mx-auto">
                    <h5 class="text-primary">
                        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Personal Profile:</font></font></strong>
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody>
                            <!--Name field with an Edit Button(Should display currently saved name with the option to edit/save) -->
                            <tr>
                                <td>
                                    <input id="name" class="form-control" name="name" placeholder="Name: John Doe">
                                </td>
                            </tr>
                            <!--Email field with an Edit Button(Display the currently saved email with option to edit/save)-->
                            <tr>
                                <td>
                                    <p id="email" class="form-control" type="email" name="email" >Email: jdoe@cpp.edu</p>
                                </td>

                            </tr>
                            <!--Password Field with an Edit Button(Display the currently saved password as astericks and give the option to change it? Unsure of specifics)-->
                            <tr>
                                <td>
                                    <input id="password" class="form-control" type="password" name="password" placeholder="Password: ***********">
                                </td>
                            </tr>
                            <!--Cell Number Field with an Edit Button(Displays the currently saved number and gives the option to edit/save it) -->
                            <tr>
                                <td>
                                    <input id="phone" class="form-control" type="tel" name="phone" placeholder="Cell Phone Number: 555-555-5555">
                                </td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="full">
                        <button type="submit">Submit</button>
                    </p>
                </div>
                <!--Permit Info Container(Permit Status, Permit Number, Car Make, Model, Color)
                Car Make, Model, and Color each have an edit button(Look to only have one edit button?)-->
                <div class="col-lg-4 col-xl-7 p-0 m-0 p-3 bg-warning mx-auto">
                    <h5 class="text-primary p-0 m-0 pb-2">
                        <strong>Permit INFO:</strong>
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <!--Current Permit Status display(no edit) -->
                            <tr>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Status: Active</font></font></td>
                            </tr>
                            <!--Permit Number display(no edit) -->
                            <tr>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Permit Number:</font></font></td>
                            </tr>
                            <!--Car Make field with edit button(display the car make with option to edit). Look to remove edit buttons?-->

                            <tr>
                                <td>
                                    <input id="carMake" class="form-control" name="carMake" placeholder="Car Make:">
                                </td>
                            </tr>
                            <!--Model field with an edit button(displays current car model with option to edit)-->
                            <tr>
                                <td>
                                    <input id="model" class="form-control" name="model", placeholder="Model:">
                                </td>
                            </tr>
                            <!--Color field with an edit button(display current car color with option to edit)-->
                            <tr>
                                <td>
                                    <input id="color" class="form-control"  name="color" placeholder="Color:">
                                </td>
                            </tr>
                            <!--Year field with an edit button(displays the year of the car with option to edit)-->
                            <tr>
                                <td>
                                    <input id="year" class="form-control"  name="year" placeholder="Year:">
                                </td>
                            </tr>
                            <!--License field with an edit button(displays current license number with the option to edit)-->
                            <tr>
                                <td>
                                    <input id="licNumber" class="form-control" name="licNumber" placeholder="License Number:">
                                </td>
                            </tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<!--Caroline Added for saving user information-->
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script src="profileSubmit.js"></script>
</body>
</html>