<!DOCTYPE html>
<html class="translated-ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>temp</title>
    <link rel="stylesheet" href="static/temp_files/bootstrap.min.css">
    <link rel="stylesheet" href="static/temp_files/font-awesome.min.css">
    <link rel="stylesheet" href="static/temp_files/styles.css">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="static/temp_files/translateelement.css">
</head>
<body>
    <div class="container" id="contentHistoriasOm">
        <section id="subirOm" class="pb-3">

            <!--Header Container. Currently contains the logo. -->
            <div class="row p-0 m-0">
                <div class="col p-0 m-0">
                    <div class="row bg-white mx-auto">
                        <div class="col-12"><img src="static/temp_files/icon2.jpg"></div>
                    </div>
                </div>
            </div>

            <!--Personal Profile Container(Name, Email, Password, Phone Number)
                Each category has an edit button(Look to only have the fields be editable by default and just have a save button?) -->
            <div class="row p-0 m-0">
                <div class="col-lg-4 col-xl-5 mx-auto">
                    <h5 class="text-primary"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Personal Profile:</font></font></strong></h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <!--Name field with an Edit Button(Should display currently saved name with the option to edit/save) -->
                                <tr>
                                    <td><input id="nameInput" class="form-control" name="nameInput" placeholder="Name: John Doe"></td>
                                    <td class="p-0 m-0 p-1"><button id="nameEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>

                                </tr>
                                <!--Email field with an Edit Button(Display the currently saved email with option to edit/save)-->
                                <tr>
                                    <td><input id="emailInput" class="form-control" type="email" name="emailInput" placeholder="Email: jdoe@cpp.edu"></td>
                                    <td class="p-0 m-0 p-1"><button id="emailEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--Password Field with an Edit Button(Display the currently saved password as astericks and give the option to change it? Unsure of specifics)-->
                                <tr>
                                    <td><input id="passwordInput" class="form-control" type="password" name="passWorldInput" placeholder="Password: ***********"></td>
                                    <td class="p-0 m-0 p-1"><button id="passwordEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--Cell Number Field with an Edit Button(Displays the currently saved number and gives the option to edit/save it) -->
                                <tr>
                                    <td><input id="phoneInput" class="form-control" type="tel" name="phoneInput" placeholder="Cell Phone Number: 555-555-5555"></td>
                                    <td class="p-0 m-0 p-1"><button id="phoneEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <tr></tr>
                           </tbody>
                        </table>
                    </div><button id="saveButton" class="btn btn-primary btn-block" type="button" onclick="submitClick()">SAVE</button></div>

                <!--Permit Info Container(Permit Status, Permit Number, Car Make, Model, Color)
                    Car Make, Model, and Color each have an edit button(Look to only have one edit button?)-->
                <div class="col-lg-4 col-xl-7 p-0 m-0 p-3 bg-warning mx-auto">
                    <h5 class="text-primary p-0 m-0 pb-2"><strong>Permit INFO:</strong></h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <!--Current Permit Status display(no edit) -->
                                <tr>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Status: Active</font></font></td>
                                </tr>
                                <!--Permit Number display(no edit) -->
                                <tr>
                                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Permit Number:</font></font></td>
                                </tr>
                                <!--Car Make field with edit button(display the car make with option to edit). Look to remove edit buttons?-->
                                <tr>
                                    <td><input id="carMakeInput" class="form-control" name="carMakeInput" placeholder="Car Make:"></td>
                                    <td class="p-0 m-0 p-1"><button id="carMakeEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--Model field with an edit button(displays current car model with option to edit)-->
                                <tr>
                                    <td><input id="modelInput" class="form-control" name="modelInput", placeholder="Model:"></td>
                                    <td class="p-0 m-0 p-1"><button id="modelEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--Color field with an edit button(display current car color with option to edit)-->
                                <tr>
                                    <td><input id="colorInput" class="form-control"  name="colorInput" placeholder="Color:"></td>
                                    <td class="p-0 m-0 p-1"><button id="colorEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--Year field with an edit button(displays the year of the car with option to edit)-->
                                <tr>
                                    <td><input id="yearInput" class="form-control"  name="yearInput" placeholder="Year:"></td>
                                    <td class="p-0 m-0 p-1"><button id="yearEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <!--License field with an edit button(displays current license number with the option to edit)-->
                                <tr>
                                    <td><input id="licenseInput" class="form-control" name="licenseInput" placeholder="License Number:"></td>
                                    <td class="p-0 m-0 p-1"><button id="licenseEditButton" class="btn btn-dark ml-auto d-block" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EDIT</font></font></button></td>
                                </tr>
                                <tr></tr>
                           </tbody>
                        </table>
                    </div>
                    <form class="p-0 m-0">
                        <div class="input-group">
                            <div class="input-group-prepend"></div>
                            <div class="input-group-append"></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script src="static/temp_files/jquery-3.4.1.min.js.download"></script>
    <script src="static/temp_files/bootstrap.min.js.download"></script>
    <script id="bs-live-reload" data-sseport="59079" data-lastchange="1570419095761" src="static/temp_files/livereload.js.download"></script>
    <!--Caroline Added for saving user information-->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="profileSubmit.js"></script>
    </div>


<div class="goog-te-spinner-pos goog-te-spinner-pos-show"><div class="goog-te-spinner-animation goog-te-spinner-animation-show"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>
</div>
</div>

</body>
</html>